.gallery {

	&__header {
		margin-bottom: 22px;
	}

	&__title {
		margin: 0;
		font-size: 1.231em;
		line-height: 1.2em;
	}

	&__body {
		@include clearfix()
		margin: 0 -10px;
	}

	&__col {
		float: left;
		padding: 0 10px;
		width: 33.333333%;

		@include breakpoint(max-width 600px) {
			width: 50%;
		}
	}

	&__item {
		margin-bottom: 12px;
	}

	&__item-img-wrap {
		position: relative;
		display: block;
		margin-bottom: 5px;
	}

	&__item-img-overlay {
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0, .7);
		text-align: center;
		@include transition(opacity .3s ease-in);

		.icon-zoom {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			height: 26px;
			width: 26px;
			font-size: 2em;
			color: #fff;
		}
	}

	&__item-img-wrap:hover,
	&__item-img-wrap:focus {

		.gallery__item-img-overlay {
			opacity: 1;
		}
	}

	&__item-img {
		display: block;
		height: 0;
		width: 100%;
		padding-bottom: 55%;
		@include bg-image(transparent, center center, cover);
	}

	&__item-info {
		margin: 0;
		font-size: 1.1em;
		line-height: 2.308em;
		font-weight: 300;
		white-space: nowrap;


		[class*='icon-'] {
			font-size: 1.6em;
			vertical-align: middle;
		}
	}


}