.order-form {
	padding-left: 50px;
	padding-right: 17%;

	&__input-box {
		margin-bottom: 50px;
	}

	&__row {
		margin-bottom: 16px;
		@include clearfix();

		&_alt {
			margin-bottom: 21px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__select-col {
		float: left;
		width: 200px;
		max-width: 100%;
	}

	&__date-col {
		float: left;
		width: 50%;
	}

	&__options-box {
		margin-bottom: 40px;
	}

	&__option-title {
		margin-bottom: 14px;
		text-transform: uppercase;
		font-size: 1.231em;
		line-height: 2.308em;
		font-weight: 500;
	}

	&__options-list {
		list-style: none;
		@include clearfix();
	}

	&__options-list-item {
		float: left;
		margin-right: 10px;
		margin-bottom: 5px;
	}

	&__price {
		font-size: 1.231em;
		font-weight: 400;
		margin-bottom: 17px;
		
		span {
			font-size: 1.5em;
			font-weight: 500;
		}
	}

	&__submit {
		padding: 6px 40px;
		color: $light;
		font-size: 1.385em;
		line-height: 2.308em;
		font-weight: bold;
		text-transform: uppercase;
		background: #642121;
		border: 0;
		@include transition(all, .3s, ease-in);

		&:hover,
		&:focus {
			background: lighten(#642121, 20%);
		}
	}
}